body,
html {
  height: 100%;
  margin: 0px 10px 20px 25px;
}

* {
  margin:0;
  padding:0;
  padding-left: 4px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
p{
  text-align: left;
}
h1{
  text-align: left;
}
h2{
  text-align: left;
}
nav {
  background: rgb(255, 255, 255);
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  color: black;
  font-size: 25px;
  font-weight: 600;
  line-height: 60px;
}
nav ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
  z-index: 3;
  text-align: center;
}
nav ul li {
  float: left;
  display: inline-block;
  background: white;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
  text-align: center;
}
nav ul li:hover{
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #D4D2CB,
  0 0 5px #D4D2CB                 ;
}
nav ul ul li a:hover{
  color: #D4D2CB;
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0, 0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}
.forimg{
  width: 10%;
}
.forimgm{
  width: 25%;
}
.forimgx{
  width: 45%;
}
.forimgmx{
  width: 30%;
}
.forimgs{
  width: 15%;
}
.forimgms{
  width: 20%;
}
.forimgmxx{
  width: 35%;
}
.show,.icon ,input{
  display: none;
}
.btns{
  line-height: normal;
}
.tablefix{
  width: 50%;
}
th{
  text-align: center;
}
td{
  text-align: center;
}
tr{
  text-align: center;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 500px) {
  nav ul{
    margin-right: 0px;
    float: left;
    z-index: 3;
  }
  nav .logo{
    text-align: left;
    float: left;
    color: black;
    font-size: 25px;
    font-weight: 600;
    line-height: 70px;
    width: 100%;
  }
  nav img{
    width: 50%;
  }
  nav ul li, nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul ul{
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul ul li{
    position: static;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  .show{
    display: block;
    color: black;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: black;
  }
  .icon{
    display: block;
    color: black;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show + a,ul{
    display: none;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  .forimg{
    width: 50%;
  }
  .forimgm{
    width: 111%;
  }
  .forimgx{
    width: 210%;
  }
  .forimgmx{
    width: 150%;
  }
  .forimgmxx{
    width: 155%;
  }
  .forimgs{
    width: 70%;
  }
  .forimgms{
    width: 80%;
  }
  .btns{
    line-height: 1cm;
  }
  .tablefix{
    width: 200%;
  }
}
.showul{
  display: contents;
  
}
table, th, td {
  border: 1px solid black;
}
.containerclock{
  text-align: right;
}